<h3> Add/Remove Teams </h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select Teams that are playing</mat-label>
            <mat-select multiple formControlName="tournamentTeams" >
                <mat-option *ngFor="let tTeam of tournamentTeams" [value]="tTeam.registeredTeam.id">{{tTeam.registeredTeam.teamDisplayName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button mat-button class="button" type="submit">Modify</button>
</form>