<h3> Match Creation </h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Game</mat-label>
            <mat-select formControlName="game" >
                <mat-option *ngFor="let game of games" [value]="game.id">{{game.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Team 1</mat-label>
            <mat-select formControlName="team1" >
                <mat-option *ngFor="let tTeam of tournamentTeams" [value]="tTeam.registeredTeam.id">{{tTeam.registeredTeam.teamDisplayName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Team 2</mat-label>
            <mat-select formControlName="team2" >
                <mat-option *ngFor="let tTeam of tournamentTeams" [value]="tTeam.registeredTeam.id">{{tTeam.registeredTeam.teamDisplayName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Starting date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <button mat-button class="button" type="submit">Create</button>
</form>