<h3> Registration </h3>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
    <mat-form-field>
        <mat-label>
        Nickname for the tournament
        </mat-label>
        <input matInput id="tournamentDisplayName" type="text" formControlName="tournamentDisplayName">
    </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select a Team</mat-label>
            <mat-select formControlName="tournamentTeam" >
                <mat-option *ngFor="let tTeam of tournamentTeams" [value]="tTeam.registeredTeam.id">{{tTeam.registeredTeam.teamDisplayName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>
            Information about the registration
            </mat-label>
            <textarea matInput id="registrationInfo" type="text" formControlName="registrationInfo"></textarea>
        </mat-form-field>
    </div>
    <button mat-button class="button" type="submit">Create</button>
</form>