<mat-card>
    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input [readonly]="!isSelfProfile" formControlName="nickname" matInput placeholder="Nickname">
        <mat-icon matSuffix>user</mat-icon>
        </mat-form-field>
        <mat-card-actions >
            <button *ngIf="!!isSelfProfile" mat-button color="primary" type="submit"> Submit </button>
        </mat-card-actions>
    </form>
</mat-card>
<mat-card>
    <mat-card-header>Registrations</mat-card-header>
    <mat-card-content>
        <app-registrations-list [hide-actions]="true" [user-id]="player?.user"></app-registrations-list>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>Teams</mat-card-header>
    <mat-card-content>
        <app-teams-list [user-id]="player?.user"></app-teams-list>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>Favorite Games</mat-card-header>
    <mat-card-content>
        <app-games-list [user-id]="player?.user"></app-games-list>
    </mat-card-content>
</mat-card> 
