<table mat-table [dataSource]="teams">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let team"> {{team.name}} </td>
    </ng-container>
    <ng-container matColumnDef="members">
        <th mat-header-cell *matHeaderCellDef> Number of players </th>
        <td mat-cell *matCellDef="let team"> {{team.players.length}} </td>
    </ng-container>
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let team"> <a [routerLink]="['/home/teams', team.id]"><mat-icon>search</mat-icon> Details</a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>