<table mat-table [dataSource]="players">
    <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef> Nickname </th>
        <td mat-cell *matCellDef="let player"> {{player.nickname}} </td>
    </ng-container>
    <ng-container matColumnDef="teamsNumber">
        <th mat-header-cell *matHeaderCellDef> Number of teams </th>
        <td mat-cell *matCellDef="let player"> {{player.teams.length}} </td>
    </ng-container>
    <ng-container matColumnDef="favoriteGames">
        <th mat-header-cell *matHeaderCellDef> Number of games added </th>
        <td mat-cell *matCellDef="let player"> {{player.games.length}} </td>
    </ng-container>
    <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef> Profile </th>
        <td mat-cell *matCellDef="let player"><a [routerLink]="[player.user]"><mat-icon>search</mat-icon> Profile</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>