<table mat-table [dataSource]="matchs">
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let match"> {{match.startDate}} </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let match"> {{match.endDate}} </td>
    </ng-container>
    <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef> Progress </th>
        <td mat-cell *matCellDef="let match"> {{match.progress}} </td>
    </ng-container>
    <ng-container matColumnDef="game">
        <th mat-header-cell *matHeaderCellDef> Game </th>
        <td mat-cell *matCellDef="let match"> {{match.game.name}} </td>
    </ng-container>
    <ng-container matColumnDef="teams">
        <th mat-header-cell *matHeaderCellDef> Teams </th>
        <td mat-cell *matCellDef="let match"> {{getTeamNames(match)}} </td>
    </ng-container>
    <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let match"> {{getResult(match)}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>