<table mat-table [dataSource]="phases">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let phase"> {{phase.name}} </td>
    </ng-container>
    <ng-container matColumnDef="playingTeams">
        <th mat-header-cell *matHeaderCellDef> Teams number </th>
        <td mat-cell *matCellDef="let phase"> {{phase.playingTeams.length}} </td>
    </ng-container>
    <ng-container matColumnDef="qualifiedTeams">
        <th mat-header-cell *matHeaderCellDef> Qualified teams number </th>
        <td mat-cell *matCellDef="let phase"> {{phase.qualifiedTeams.length}} </td>
    </ng-container>
    <ng-container matColumnDef="matchs">
        <th mat-header-cell *matHeaderCellDef> Matchs number </th>  
        <td mat-cell *matCellDef="let phase"> {{phase.match.length}} </td>
    </ng-container>
    <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef> Phase Progress </th>  
        <td mat-cell *matCellDef="let phase"> {{phase.progress}} </td>
    </ng-container>
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let phase"><a [routerLink]="['./phase', phase.id]"><mat-icon>search</mat-icon> Details</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>