<mat-card>
    <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="username" placeholder="Login">
        <mat-icon matSuffix>user</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" password [(ngModel)]="password"  placeholder="Password">
        <mat-icon matSuffix>user</mat-icon>
      </mat-form-field>
      <mat-card-actions>
          <button mat-button (click)="login()" color="primary"> Submit </button>
        </mat-card-actions>
</mat-card>
<div class="container" style="justify-content: center;">
  <img  src="assets/login.webp" alt="image"/>
</div>
