mat-card {
    vertical-align: center;
    justify-content: center;
    display: flex;
    height: 250;
}

div {
    justify-content: center;
    align-content: center;
    display: flex;
    width: 100%;
}