<h3> Tournament creation </h3>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

<div>
<mat-form-field>
    <mat-label>
    Name
    </mat-label>
    <input matInput id="name" type="text" formControlName="name">
</mat-form-field>
</div>

<div>
    <mat-form-field>
        <mat-label>
        Location
        </mat-label>
        <input matInput id="location" type="text" formControlName="location">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Starting date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startingDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Ending date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
</div>

<button mat-button class="button" type="submit">Create</button>

</form>