<table mat-table [dataSource]="teamRegistrations">
    <ng-container matColumnDef="teamDisplayName">
        <th mat-header-cell *matHeaderCellDef> Team Display Name </th>
        <td mat-cell *matCellDef="let teamRegistration"> {{teamRegistration.teamDisplayName}} </td>
    </ng-container>
    <ng-container matColumnDef="registrationDate">
        <th mat-header-cell *matHeaderCellDef> Date of registration </th>
        <td mat-cell *matCellDef="let teamRegistration"> {{teamRegistration.registrationDate}} </td>
    </ng-container>
    <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef> Team that registered </th>
        <td mat-cell *matCellDef="let teamRegistration"> {{!!teamRegistration.team ?teamRegistration.team.name : 'Only for tournament'}} </td>
    </ng-container>
    <ng-container matColumnDef="validated">
        <th mat-header-cell *matHeaderCellDef> Approved </th>  
        <td mat-cell *matCellDef="let teamRegistration">
            <mat-icon *ngIf="!!teamRegistration.validatedBy" color="primary">done</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let teamRegistration">
            <button mat-mini-fab aria-label="Valid" [disabled]="!!teamRegistration.validatedBy" (click)="validateTeamRegistration(teamRegistration)">
                <mat-icon>done_outline</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Delete" color="warn" (click)="closeTeamRegistration(teamRegistration)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>