<table mat-table [dataSource]="games">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let game"> {{game.name}} </td>
    </ng-container>
    <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let game"> {{game.genre}} </td>
    </ng-container>
    <ng-container matColumnDef="publishedDate">
        <th mat-header-cell *matHeaderCellDef> Published Date </th>
        <td mat-cell *matCellDef="let game"> {{game.publishedDate}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>