<table mat-table [dataSource]="tournamentTeams">
    <ng-container matColumnDef="tournamentTeamName">
        <th mat-header-cell *matHeaderCellDef> Tournament Team Name </th>
        <td mat-cell *matCellDef="let tTeam"> {{tTeam.registeredTeam.teamDisplayName}} </td>
    </ng-container>
    <ng-container matColumnDef="teamsNumber">
        <th mat-header-cell *matHeaderCellDef> Number of players </th>
        <td mat-cell *matCellDef="let tTeam"> {{tTeam.teams}} </td>
    </ng-container>
    <ng-container matColumnDef="team"> Existing Team
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let tTeam"> {{tTeam.registeredTeam.team}} </td>
    </ng-container>
    <ng-container matColumnDef="tTeamProfile">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let tTeam"><a [routerLink]="['../tournament-teams/', tTeam.registeredTeam.id]"><mat-icon>search</mat-icon> Profile</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>