<mat-card>
    <mat-card-header>Phases</mat-card-header>
    <mat-card-content>
        <app-phases-list [tournament-id]="!!tournament ? tournament.id : undefined"></app-phases-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="createPhase()">Create Phase</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <div>Registrations</div>
    </mat-card-header>
    <mat-card-content>
        <app-registrations-list [tournament-id]="!!tournament ? tournament.id : undefined"></app-registrations-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="selfRegister()">Register yourself</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>Team Registrations</mat-card-header>
    <mat-card-content>
        <app-team-registrations-list [tournament-id]="!!tournament ? tournament.id : undefined"></app-team-registrations-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="registerTeam()">Register a team</button>
    </mat-card-actions>
</mat-card>
