<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="games" routerLinkActive="active-link"><mat-icon>games</mat-icon> Games</a>
      <a mat-list-item routerLink="tournaments" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>events_emoji</mat-icon> Tournaments</a>
      <a mat-list-item routerLink="teams" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>group_work</mat-icon> Teams</a>
      <a mat-list-item routerLink="players" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>groups</mat-icon> Players</a>
      <a mat-list-item [routerLink]="['players', currentUserId]" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>person</mat-icon> My Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex fxFill>Tournament Application</div>
        <div fxFlex fxFill>{{ username }}</div>
        <div fxFlex fxFill>
          <button mat-button (click)="logout()">Logout</button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
