<h3> Team Registration </h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
    <mat-form-field>
        <mat-label>
        Team Name for tournament
        </mat-label>
        <input matInput id="teamDisplayName" type="text" formControlName="teamDisplayName">
    </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select a team</mat-label>
            <mat-select formControlName="team" >
                <mat-option>None</mat-option>
                <mat-option *ngFor="let team of teams" [value]="team.id">{{team.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>
            Information about the registration
            </mat-label>
            <textarea matInput id="registrationInfo" type="text" formControlName="registrationInfo"></textarea>
        </mat-form-field>
    </div>
    <button mat-button class="button" type="submit">Create</button>
</form>