<mat-card>
    <mat-card-header>Matchs</mat-card-header>
    <mat-card-content>
        <app-matchs-list [phase-id]="!!phase ? phase.id : undefined"></app-matchs-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="createMatch()">Create Match</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>Teams playing in this phase</mat-card-header>
    <mat-card-content>
        <app-tournament-team-list [tournament-teams]="!!phase ? phase.playingTeams : []"></app-tournament-team-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="modPlaying()">Change playing teams</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>Teams Qualified from this phase</mat-card-header>
    <mat-card-content>
        <app-tournament-team-list [tournament-teams]="!!phase ? phase.qualifiedTeams : []"></app-tournament-team-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="modQualified()">Change qualified teams</button>
    </mat-card-actions>
</mat-card>