<table mat-table [dataSource]="registrations">
    <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef> Player </th>
        <td mat-cell *matCellDef="let registration"> {{registration.player.nickname}} </td>
    </ng-container>
    <ng-container matColumnDef="tournamentDisplayName">
        <th mat-header-cell *matHeaderCellDef> Nickname for Tournament </th>
        <td mat-cell *matCellDef="let registration"> {{registration.tournamentDisplayName}} </td>
    </ng-container>
    <ng-container matColumnDef="tournamentTeam">
        <th mat-header-cell *matHeaderCellDef> Tournament Team </th>
        <td mat-cell *matCellDef="let registration"> {{registration.tournamentTeam.registeredTeam.teamDisplayName}} </td>
    </ng-container>
    <ng-container matColumnDef="registrationDate">
        <th mat-header-cell *matHeaderCellDef> Registration date </th>  
        <td mat-cell *matCellDef="let registration"> {{registration.registrationDate}} </td>
    </ng-container>
    <ng-container matColumnDef="validated">
        <th mat-header-cell *matHeaderCellDef> Approved </th>  
        <td mat-cell *matCellDef="let registration">
            <mat-icon *ngIf="!!registration.validatedBy" color="primary">done</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let registration">
            <button mat-mini-fab [disabled]="registration.validatedBy" aria-label="Valid" (click)="validateRegistration(registration)">
                <mat-icon>done_outline</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Delete" color="warn" (click)="closeRegistration(registration)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>